header{
    height: 70px;
    font-family: "Shrikhand";
    color: #000;
    margin: auto;
}
header h1{
    margin-bottom: 0px;
    font-size: xx-large;
}
.header--icone{
    display: flex;
    img{
        width: 180px;
        height: 80px;
        object-fit: scale-down;
        margin: auto;
    }
    i{
        padding-top: 2rem;
        padding-left: 1rem;
        color: $color-grey-fonce;
    }
}
.localisation{
    background-color: $couleur-background;
    p {
        margin: 0;
        padding: 1rem;
    }
}