.fa-map-marker-alt:before {
    content: "\f3c5";
    margin-right: 15px;
}
.fas.fa-mobile-alt{
    padding-right: 15px;
    color: #7e7e7e;
}

.fas.fa-list-ul, .fa-store{
    padding-right: 15px;
    color: $color-grey;
}
.fa-heart.fa-lg{
    .one{
        position: absolute;
        top: 68.5rem;
        right: 75px;
    }
    .two{
        position: absolute;
        top: 82.5rem;
        right: 75px;
    }
    .three{
        position: absolute;
        top: 96.8rem;
        right: 75px;
    }
    .four{
        position: absolute;
        top: 111.2rem;
        right: 75px;
    }
}
.fa-utensils{
    margin: 0px 8px 0px 2px;
} 
.fa-hands-helping{
    margin-right: 5px;
}

.fav-title{
    margin-top: 1rem;
}