@charset "UTF-8";
body {
  text-align: center;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
  max-width: 374px;
  margin: 0 auto;
  /*background-color: #868585;*/
}

.section__decouvrir {
  padding-bottom: 2rem;
}
.section__decouvrir button {
  width: 14rem;
}

button {
  padding: 1rem;
  border-radius: 2rem;
  background: linear-gradient(#f17df7, #b160dc);
  border: #b160dc;
  color: #ffff;
  box-shadow: 5px 5px 10px #cacaca;
  margin-bottom: 2rem;
  width: 180px;
  font-size: medium;
  margin-top: 2rem;
  margin-bottom: 5rem;
  cursor: pointer;
}
button:hover {
  background: linear-gradient(#e98fee, #c784eb);
  box-shadow: 10px 10px 10px #a8a6a6;
}

.animation-loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  background-color: rgba(255, 255, 255, 0.7);
  animation: loader 1500ms linear infinite;
}

.loader {
  position: absolute;
  animation: vanish 2s 3s both linear;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
}

@keyframes loader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes container {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}
@keyframes vanish {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
header {
  height: 70px;
}

header img {
  width: 180px;
  height: 80px;
  object-fit: scale-down;
}

.header--icone {
  display: flex;
}
.header--icone img {
  width: 180px;
  height: 80px;
  object-fit: scale-down;
  padding-left: 5rem;
}
.header--icone i {
  padding-top: 2rem;
  padding-left: 1rem;
  color: #353535;
}

.localisation {
  background-color: #eaeaea;
}
.localisation p {
  margin: 0;
  padding: 1rem;
}

.container__img {
  max-width: 374px;
}
.container__img img {
  margin-top: 0px;
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.section__decouvrir {
  height: 290px;
  background-color: #f6f6f6;
}
.section__decouvrir h1 {
  padding: 2.5rem;
  padding-bottom: 0;
  margin-top: 0;
  font-size: x-large;
}
.section__decouvrir p {
  padding: 16px;
  padding-top: 0px;
  margin: 0px;
  font-size: large;
}

.fonctionnement {
  margin-bottom: 5rem;
}
.fonctionnement h2 {
  text-align: start;
  margin-left: 2rem;
}

.fonctionnement__list {
  display: flex;
  flex-direction: column;
}
.fonctionnement__list a {
  text-decoration: none;
  color: black;
  margin: 15px 2rem 15px 2rem;
  border: 1px #f6f6f6 solid;
  border-radius: 15px;
  padding: 18px 13px 20px 13px;
  background-color: #f6f6f6;
  box-shadow: 2px 2px 10px #bdbcbc;
  font-weight: bold;
}
.fonctionnement__list .a__one {
  padding-right: 0px;
  display: flex;
}
.fonctionnement__list .a__one #cercle {
  width: 25px;
  height: 25px;
  margin-right: 25px;
  margin-left: -25px;
  border-radius: 20px;
  background: #9356DC;
  color: #ffffff;
}

.restaurant__card {
  background: #f5f5f5;
  margin-bottom: 3rem;
}
.restaurant__card h2 {
  text-align: start;
  margin-left: 1rem;
  padding-top: 3rem;
}

.container__entrees {
  text-align: start;
  margin-left: 1rem;
  padding-bottom: 0.5rem;
}
.container__entrees p {
  border-bottom: 3px #99e2d0 solid;
  width: 35px;
}

.cards--articles {
  height: 70px;
  border-radius: 15px;
  /*border: blue solid 1px;*/
  margin: 0px 20px 25px 20px;
  box-shadow: 3px 3px 3px #c4c3c3;
  background-color: #ffffff;
  position: relative;
}

.container__plats p {
  text-align: start;
  margin-left: 1rem;
  border-bottom: 3px #99e2d0 solid;
  width: 35px;
}

.container__desserts p {
  text-align: start;
  margin-left: 1rem;
  border-bottom: 3px #99e2d0 solid;
  width: 35px;
}

footer {
  background-color: #353535;
  text-align: start;
  height: 160px;
}

.footer__text {
  display: flex;
  flex-direction: column;
}
.footer__text a {
  margin: 0 0 0 1rem;
  color: white;
  text-decoration: none;
}

.container-vide {
  margin-top: -33px;
  background-color: white;
  position: relative;
  z-index: 10000;
  height: 30px;
  border-top-right-radius: 35px;
  border-top-left-radius: 35px;
  margin-bottom: 0px;
}

.fa-map-marker-alt:before {
  content: "";
  margin-right: 15px;
}

.fas.fa-mobile-alt {
  padding-right: 15px;
  color: #7e7e7e;
}

.fas.fa-list-ul, .fa-store {
  padding-right: 15px;
  color: #7e7e7e;
}

.fa-heart.fa-lg .one {
  position: absolute;
  top: 68.5rem;
  right: 75px;
}
.fa-heart.fa-lg .two {
  position: absolute;
  top: 82.5rem;
  right: 75px;
}
.fa-heart.fa-lg .three {
  position: absolute;
  top: 96.8rem;
  right: 75px;
}
.fa-heart.fa-lg .four {
  position: absolute;
  top: 111.2rem;
  right: 75px;
}

.fa-utensils {
  margin: 0px 8px 0px 2px;
}

.fa-hands-helping {
  margin-right: 5px;
}

.fav-title {
  margin-top: 1rem;
}

@keyframes anim-prix {
  50% {
    transform: translate(-44px, 0);
  }
  100% {
    transform: translateX(-44px);
  }
}
.bloc:hover {
  position: absolute;
  height: 4.5rem;
  width: 4rem;
  bottom: -1.7rem;
  left: 17.6rem;
  display: flex;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  background-color: gray;
  animation: mymove 1s both linear;
  animation-timing-function: linear;
  animation-timing-function: cubic-bezier(0, 0, 1, 1);
}
.bloc:hover i {
  margin-top: 1.5rem;
  font-size: larger;
  color: #fff;
}
.bloc:hover .prix {
  animation-name: anim-prix;
  animation-duration: 1s;
  animation-delay: 1s;
  animation: anim-prix 1s both linear;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  margin-bottom: 0px;
  margin-top: 2rem;
  margin-right: 0rem;
}

@keyframes mymove {
  50% {
    background-color: #99E2D0;
    left: 18rem;
  }
  100% {
    background-color: #99E2D0;
    left: 18rem;
  }
}
.titre__favoris--palette {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  padding: 0px;
  width: 370px;
}
.titre__favoris--palette p {
  padding: 0rem 0px 2rem 0px;
  margin: 0px 0rem 0px 1rem;
  text-align: start;
  font-size: 1.8rem;
  font-family: Shrikhand;
}
.titre__favoris--palette .favoris-vide {
  margin-left: 2rem;
  position: relative;
}
.titre__favoris--palette .favoris-vide .vide {
  margin-top: 0.5rem;
  font-size: x-large;
  opacity: 1;
  position: absolute;
}
.titre__favoris--palette .favoris-vide .vide:hover {
  opacity: 0;
}

.favoris_plein .plein {
  margin-top: 0.5rem;
  font-size: x-large;
  opacity: 0;
  position: absolute;
}
.favoris_plein .plein:hover {
  opacity: 1;
  color: #b160dc;
  border-color: #b160dc;
}

.titre__favoris--note {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  padding: 0px;
  width: 370px;
}
.titre__favoris--note p {
  padding: 0rem 0px 2rem 0px;
  margin: 0px 0rem 0px 1rem;
  text-align: start;
  font-size: 1.8rem;
  font-family: Shrikhand;
}
.titre__favoris--note .favoris-vide {
  margin-left: 2rem;
  position: relative;
}
.titre__favoris--note .favoris-vide .vide {
  margin-top: 0.5rem;
  font-size: x-large;
  opacity: 1;
  position: absolute;
}
.titre__favoris--note .favoris-vide .vide:hover {
  opacity: 0;
}

.favoris_plein .plein {
  margin-top: 0.5rem;
  font-size: x-large;
  opacity: 0;
  position: absolute;
}
.favoris_plein .plein:hover {
  opacity: 1;
  color: #b160dc;
  border-color: #b160dc;
}

.titre__favoris--delice {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  padding: 0px;
  width: 370px;
}
.titre__favoris--delice p {
  padding: 0rem 0px 2rem 0px;
  margin: 0px 0rem 0px 1rem;
  text-align: start;
  font-size: 1.8rem;
  font-family: Shrikhand;
}
.titre__favoris--delice .favoris-vide {
  margin-left: 2rem;
  position: relative;
}
.titre__favoris--delice .favoris-vide .vide {
  margin-top: 0.5rem;
  font-size: x-large;
  opacity: 1;
  position: absolute;
}
.titre__favoris--delice .favoris-vide .vide:hover {
  opacity: 0;
}

.favoris_plein .plein {
  margin-top: 0.5rem;
  font-size: x-large;
  opacity: 0;
  position: absolute;
}
.favoris_plein .plein:hover {
  opacity: 1;
  color: #b160dc;
  border-color: #b160dc;
}

.cards__restaurants {
  display: flex;
  flex-direction: column;
  position: relative;
}

.cards {
  height: 195px;
  border-radius: 15px;
  margin: 0px 20px 25px 20px;
  box-shadow: 3px 3px 3px #c4c3c3;
  position: relative;
}

.photos_items {
  /* border: rgb(48, 187, 164) solid 1px;*/
  border-top-left-radius: 2vh;
  border-top-right-radius: 2vh;
  height: 130px;
  max-width: 100%;
}
.photos_items img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
  width: 100%;
  height: 130px;
  flex: 80%;
  background-size: cover;
}

.texte--card {
  display: flex;
  flex-direction: row;
}
.texte--card .texte {
  flex-direction: column;
  height: 4rem;
  padding: 0px;
  width: 50%;
}
.texte--card .texte .h-card {
  margin-top: 10px;
  text-align: start;
  margin-bottom: 0px;
  margin-left: 15px;
}
.texte--card .texte .p-card {
  margin-top: 2px;
  text-align: start;
  margin-bottom: 0px;
  margin-left: 15px;
}

.favoris {
  position: absolute;
  right: 2rem;
}
.favoris .four-vide {
  margin-top: 1.5rem;
  margin-left: 7rem;
  opacity: 1;
}
.favoris .four-vide:hover {
  opacity: 0;
}

.favoris_second {
  position: absolute;
  right: 53px;
}

.four-plein {
  margin-top: 1.5rem;
  margin-left: 0;
  opacity: 0;
  position: absolute;
}
.four-plein:hover {
  color: #b160dc;
  border-color: #b160dc;
  opacity: 1;
}

.footer__logo p {
  font-family: Shrikhand;
  color: #fff;
  margin: 0px;
  padding: 1rem 0px 1rem 1rem;
}

.new {
  position: absolute;
  background-color: #99E2D0;
  left: 15rem;
  height: 2rem;
  width: 5rem;
  top: 13px;
  border-radius: 3px;
}
.new p {
  margin-top: 4px;
  color: #39a98e;
  font-weight: bold;
}

.titre__favoris--francaise {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  padding: 0px;
  width: 370px;
}
.titre__favoris--francaise p {
  padding: 0rem 0px 2rem 0px;
  margin: 0px 0rem 0px 1rem;
  text-align: start;
  font-size: xx-large;
  font-family: Shrikhand;
}
.titre__favoris--francaise .favoris-videfr {
  margin-left: 4.5rem;
  position: relative;
}
.titre__favoris--francaise .favoris-videfr .videfr {
  margin-top: 0.8rem;
  font-size: x-large;
  opacity: 1;
}
.titre__favoris--francaise .favoris-videfr .videfr:hover {
  opacity: 0;
}

.favoris_pleinfr .pleinfr {
  margin-top: 0.8rem;
  font-size: x-large;
  opacity: 0;
  right: 1.8rem;
  position: absolute;
}
.favoris_pleinfr .pleinfr:hover {
  opacity: 1;
  color: #b160dc;
  border-color: #b160dc;
}

.h-card {
  margin-top: 10px;
  text-align: start;
  margin-bottom: 0px;
  margin-left: 15px;
}

.p-card {
  margin-top: 2px;
  text-align: start;
  margin-bottom: 0px;
  margin-left: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 14rem;
}

.prix {
  margin-right: 2rem;
  font-weight: bold;
  color: #353535;
}

.cards__texte--prix {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.article__entrees {
  animation: fadein 2s;
  -moz-animation: fadein 2s;
  /* Firefox */
  -webkit-animation: fadein 2s;
  /* Safari et Chrome */
  -o-animation: fadein 2s;
  /* Opera */
  -webkit-transition-delay: 500ms;
  -moz-transition-delay: 500ms;
  -ms-transition-delay: 500ms;
  -o-transition-delay: 500ms;
  transition-delay: 500ms;
}

.article__plats {
  animation: fadein 8s;
  -moz-animation: fadein 8s;
  /* Firefox */
  -webkit-animation: fadein 8s;
  /* Safari et Chrome */
  -o-animation: fadein 8s;
  /* Opera */
  -webkit-transition-delay: 500ms;
  -moz-transition-delay: 500ms;
  -ms-transition-delay: 500ms;
  -o-transition-delay: 500ms;
  transition-delay: 500ms;
}

.article__desserts {
  animation: fadein 12s;
  -moz-animation: fadein 12s;
  /* Firefox */
  -webkit-animation: fadein 12s;
  /* Safari et Chrome */
  -o-animation: fadein 12s;
  /* Opera */
  -webkit-transition-delay: 500ms;
  -moz-transition-delay: 500ms;
  -ms-transition-delay: 500ms;
  -o-transition-delay: 500ms;
  transition-delay: 500ms;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* sur Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* sur Safari et Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
