.section__decouvrir{
    padding-bottom: 2rem;
    button{
        width: 14rem;
    }
} 
button{
    padding: 1rem;
    border-radius: 2rem;
    background: linear-gradient(#f17df7, #b160dc);
    border: #b160dc;
    color: #ffff;
    box-shadow: 5px 5px 10px #cacaca;
    margin-bottom: 2rem;
    width: 180px;
    font-size: medium;
    margin-top: 2rem;
    margin-bottom: 5rem;
    cursor: pointer;
    &:hover{
        background: linear-gradient(#e98fee, #c784eb);
        box-shadow: 10px 10px 10px #a8a6a6;
    }
}