.animation-loader {
  position: absolute;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #b160dc;
  background-color: rgba(255, 255, 255, 0.70);
  animation: loader 1500ms linear infinite;
}
.loader{
  position: absolute;
  animation: vanish 2s 3s both linear;
  z-index: 1;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  background-color: #f3f3f3;
  height: 115vh;
  width: 115vw;
  opacity: 0.8;
}
@keyframes loader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes vanish {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}