@media screen and (min-width:960px){
    .new{
        left: 80%;
    }
    .cards__restaurants {
        flex-direction: row;
        margin: auto;
        flex-wrap: wrap;
    }
    .cards{
        margin: auto;
        margin-bottom: 2rem;
        width: 45%;
    }
    .animation-loader{
        left: 45%;
        top: 50%;
    }
}
@media screen and (min-width: 683px){
    .animation-loader{
        left: 45%;
        top: 50%;
    }
    .fonctionnement__list {
        .a__one{
            margin: auto;
            width: 50%;
            margin-bottom: 2rem;
        }
        
    }
    .cards{
        margin: auto;
        margin-bottom: 2rem;
        width: 45%;
    }
    .new{
        left: 70%;
    }
    .cards__restaurants {
        flex-direction: row;
        margin: auto;
        flex-wrap: wrap;
    }
}
@media screen and (min-width: 500px) and (max-width: 683px){
    .animation-loader{
        left: 60%;
        top: 50%;
    }
    .new{
        left: 80%;
    }
    .cards{
        margin: auto;
        width: 90%;
        margin-bottom: 2rem;
    }
    .cards__restaurants {
        margin: auto;
        flex-direction: column;
    }
}
@media screen and (max-width: 500px){
    .animation-loader{
        left: 60%;
        top: 50%;
    }
    .new{
        left: 70%;
    }
    .cards{
        margin: auto;
        width: 90%;
        margin-bottom: 2rem;
    }
    .cards__restaurants{
        flex-direction: column;
    }
}