.titre__favoris--francaise{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    padding: 0px;
    width: 370px;
    p {
        padding: 0rem 0px 2rem 0px;
        margin: 0px 0rem 0px 1rem;
        text-align: start;
        font-size: xx-large;
        font-family: Shrikhand;
    }
    .favoris-videfr{
        margin-left: 4.5rem;
        position: relative;
        .videfr{
            margin-top:0.8rem; 
            font-size: x-large;
            opacity: 1;
            position: absolute;
            color: #777575;
            &:hover{
                opacity: 0;
            }
        }
    } 
}
.favoris_pleinfr{
    position: relative;
    .pleinfr{
        margin-top:0.8rem; 
        font-size: x-large;
        opacity: 0;
        right: -24px;
        position: absolute;
        &:hover{
            opacity: 1;
            background:-moz-linear-gradient( #f17df7, #b160dc); 
            background: -webkit-linear-gradient( #f17df7, #b160dc); 
            background: linear-gradient(#f17df7, #b160dc);
            -webkit-background-clip: text;
            // padding-top: 3px;
            -moz-background-clip: text;
            background-clip: text;
            border-color: linear-gradient(#f17df7, #b160dc);
            -webkit-text-fill-color:transparent;
        }
    }
}
.h-card{
    margin-top: 10px;
    text-align: start;
    margin-bottom: 0px;
    margin-left: 15px;
} 
.p-card{
    margin-top: 2px;
    text-align: start;
    margin-bottom: 0px;
    margin-left: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 11rem;
}

.prix{
    margin-right: 2rem;
    font-weight: bold;
    color: $color-grey-fonce;
}
.cards__texte--prix{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}
.article__entrees{
    @include anim_entrees
}
.article__plats{
    @include anim_plats
}
.article__desserts{
    @include anim_desserts
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* sur Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* sur Safari et Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
