.titre-favoris{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    padding: 0px;
    width: 70%;
    p {
        padding: 0rem 0px 2rem 0px;
        margin: 0px 0px 0px 1rem;
        text-align: start;
        font-size: xx-large;
        font-family: Shrikhand;
    }
    .favoris{
        width: 0;
        i{
            margin-top: 9px;
            margin-left: 4rem;
            font-size: x-large;
        }
    }
    
}
.h-card{
    margin-top: 10px;
    text-align: start;
    margin-bottom: 0px;
    margin-left: 15px;
} 
.p-card{
    margin-top: 2px;
    text-align: start;
    margin-bottom: 0px;
    margin-left: 15px;
}
.div-anim{
    display: none;
    height: 100%;
    width: 20px;
}
.prix{
    padding-top: 5px 0px 0px 0px;
    margin-right: 15px;
    font-weight: bold;
    color: $color-grey-fonce;
}
.cards__texte--prix{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.article__entrees{
    @include anim_entrees
}
.article__plats{
    @include anim_plats
}
.article__desserts{
    @include anim_desserts
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* sur Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* sur Safari et Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
