.titre{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 0px;
    h1 {
        padding: 2rem 0px 2rem 0px;
        margin: 0px 0px 0px 1rem;
        text-align: start;
        font-size: xx-large;
        font-family: Shrikhand;
    }
}
.prix{
    padding-top: 5px 0px 0px 0px;
    margin-right: 15px;
    font-weight: bold;
    color: $color-grey-fonce;
}
.cards__texte--prix{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}