.titre__favoris--note{
    @include container__titre-menu;
    p {
        @include titre-menu;
    }
    .favoris-vide{
        margin-left: 2rem;
        position: relative;
        .vide{
            @include icone-titre;opacity: 1;
            position: absolute;
            color: #777575;
            &:hover{
                opacity: 0;
            }
        }
        
    }
}

.favoris_plein{
    .plein{
        @include icone-titre;
        opacity: 0;
        position: absolute;
        &:hover{
            opacity: 1;
            background:-moz-linear-gradient( #f17df7, #b160dc); 
            background: -webkit-linear-gradient( #f17df7, #b160dc); 
            background: linear-gradient(#f17df7, #b160dc);
            -webkit-background-clip: text;
            -moz-background-clip: text;
            background-clip: text;
            border-color: linear-gradient(#f17df7, #b160dc);
            -webkit-text-fill-color:transparent;
        }
    }
}