
@keyframes anim-prix{
    50%{transform: translate(-44px, 0) }
    100%{transform: translateX(-44px);}
}
.bloc:hover{
    position: absolute;
    height: 4.5rem;
    width: 4rem;
    bottom: -1.6rem;
    left: 17.6rem;
    display: flex;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    background-color: gray;
    animation: mymove 1s both linear;
    animation-timing-function: linear;
    animation-timing-function: cubic-bezier(0,0,1,1);
        i{
            margin-top: 1.5rem;
            font-size: larger;
            color: #fff;
        }
    .prix{
        animation-name: anim-prix;
        animation-duration: 1s;
        animation-delay: 1s;
        animation: anim-prix 1s both linear;
        animation-timing-function: linear;
        animation-iteration-count: 1;
        margin-bottom: 0px;
        margin-top: 2rem;
        margin-right: 0rem;
    }
}
@keyframes mymove {
	50%{background-color:$color-tertiaire; left: 17rem; }
  	100%{background-color:$color-tertiaire; left:17rem;}
}



.titre__favoris--palette{
    @include container__titre-menu;
    p {
        @include titre-menu;
    }
    .favoris-vide{
        margin-left: 2rem;
        position: relative;
        .vide{
            @include icone-titre;opacity: 1;
            position: absolute;
            &:hover{
                opacity: 0;
            }
        }
        
    }
        
}
.favoris_plein{
    .plein{
        @include icone-titre;
        opacity: 0;
        position: absolute;
        &:hover{
            opacity: 1;
            color:  #b160dc;
            border-color: #b160dc;
        }
    }
}
