.bloc{
    opacity:0;
}
.bloc:hover{
    opacity: 1;
    height: 4.5rem;
    width: 9rem;
    display: flex;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    animation: mymove 1s both linear;
    animation-timing-function: linear;
    animation-timing-function: cubic-bezier(0, 0, 1, 1);
        i{
            
            font-size: larger;
            color: #fff;
            margin: auto;
            animation: rotating 2s forwards
        }
}
@keyframes mymove {
	0%{background-color:$color-tertiaire;transform: translateX(25%); }
  	100%{background-color:$color-tertiaire; transform: translateX(0);}
}

@keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

.titre__favoris--palette{
    @include container__titre-menu;
    h2 {
        @include titre-menu;
    }
    .favoris-vide{
        margin-left: 2rem;
        position: relative;
        .vide{
            @include icone-titre;opacity: 1;
            position: absolute;
            color: #777575;
            &:hover{
                opacity: 0;
            }
        }
        
    }
        
}
.favoris_plein{
    .plein{
        @include icone-titre;
        opacity: 0;
        position: absolute;
        &:hover{
            opacity: 1;
            background:-moz-linear-gradient( #f17df7, #b160dc); 
            background: -webkit-linear-gradient( #f17df7, #b160dc); 
            background: linear-gradient(#f17df7, #b160dc);
            -webkit-background-clip: text;
            -moz-background-clip: text;
            background-clip: text;
            border-color: linear-gradient(#f17df7, #b160dc);
            -webkit-text-fill-color:transparent;
        }
    }
}
