
@keyframes anim-prix{
    50%{transform: translate(-44px, 0) }
    100%{transform: translateX(-44px);}
}
/*.cards__prix{
    animation-name: anim-prix;
    animation-duration: 1s;
    animation-delay: 1s;
    animation: anim-prix 1s both linear;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    margin-bottom: 0px;
    margin-top: 0rem;
    margin-right: 0rem;
    left: 20rem;
    position: absolute;
    font-weight: bold;
    color: $color-grey-fonce;
    
}*/
.bloc{
    opacity:0;
}
.bloc:hover{
    opacity: 1;
    position: absolute;
    height: 5rem;
    width: 4rem;
    bottom: -1.6rem;
    left: 17.6rem;
    display: flex;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    animation: mymove 1s both linear;
    animation-timing-function: linear;
    animation-timing-function: cubic-bezier(0,0,1,1);
        i{
            margin-top: 2rem;
            font-size: larger;
            color: #fff;
            
        }
        p{
            animation-name: anim-prix;
            animation-duration: 1s;
            animation-delay: 1s;
            animation: anim-prix 1s both linear;
            animation-timing-function: linear;
            animation-iteration-count: 1;
            margin-bottom: 0px;
            margin-top: 2rem;
            margin-right: 0rem;
            animation-name: anim-prix;
            font-weight: bold;
            color: $color-grey-fonce;
        }
    
}
@keyframes mymove {
	50%{background-color:$color-tertiaire; left: 17rem; }
  	100%{background-color:$color-tertiaire; left:17rem;}
}



.titre__favoris--palette{
    @include container__titre-menu;
    p {
        @include titre-menu;
    }
    .favoris-vide{
        margin-left: 2rem;
        position: relative;
        .vide{
            @include icone-titre;opacity: 1;
            position: absolute;
            color: #777575;
            &:hover{
                opacity: 0;
            }
        }
        
    }
        
}
.favoris_plein{
    .plein{
        @include icone-titre;
        opacity: 0;
        position: absolute;
        &:hover{
            opacity: 1;
            background:-moz-linear-gradient( #f17df7, #b160dc); 
            background: -webkit-linear-gradient( #f17df7, #b160dc); 
            background: linear-gradient(#f17df7, #b160dc);
            -webkit-background-clip: text;
            -moz-background-clip: text;
            background-clip: text;
            border-color: linear-gradient(#f17df7, #b160dc);
            -webkit-text-fill-color:transparent;
        }
    }
}
