@mixin anim_entrees{
    animation: fadein 3s;
    -moz-animation: fadein 3s; /* Firefox */
    -webkit-animation: fadein 3s; /* Safari et Chrome */
    -o-animation: fadein 3s; /* Opera */
    -webkit-transition-delay: 500ms;
    -moz-transition-delay: 500ms;
    -ms-transition-delay: 500ms;
    -o-transition-delay: 500ms;
    transition-delay: 500ms;
}

@mixin anim_plats{
    animation: fadein 4s;
    -moz-animation: fadein 4s; /* Firefox */
    -webkit-animation: fadein 4s; /* Safari et Chrome */
    -o-animation: fadein 4s; /* Opera */
    // -webkit-transition-delay: 500ms;
    // -moz-transition-delay: 500ms;
    // -ms-transition-delay: 500ms;
    // -o-transition-delay: 500ms;
    // transition-delay: 500ms;
}
@mixin anim_desserts{
    animation: fadein 8s;
    -moz-animation: fadein 8s; /* Firefox */
    -webkit-animation: fadein 8s; /* Safari et Chrome */
    -o-animation: fadein 8s; /* Opera */
    -webkit-transition-delay: 500ms;
    -moz-transition-delay: 500ms;
    -ms-transition-delay: 500ms;
    -o-transition-delay: 500ms;
    transition-delay: 500ms;
}
@mixin icone-margin {
    margin-top: 1.5rem;
    margin-left: 7rem;
}
@mixin container__titre-menu{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    padding: 0px;
    width: 370px;
}
@mixin titre-menu {
    padding: 0rem 0px 2rem 0px;
        margin: 0px 0rem 0px 1rem;
        text-align: start;
        font-size: 1.8rem;
        font-family: Shrikhand;
}
@mixin icone-titre {
    margin-top:0.5rem; font-size: x-large;
}