@mixin anim_entrees{
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari et Chrome */
    -o-animation: fadein 2s; /* Opera */
    -webkit-transition-delay: 500ms;
    -moz-transition-delay: 500ms;
    -ms-transition-delay: 500ms;
    -o-transition-delay: 500ms;
    transition-delay: 500ms;
}

@mixin anim_plats{
    animation: fadein 8s;
    -moz-animation: fadein 8s; /* Firefox */
    -webkit-animation: fadein 8s; /* Safari et Chrome */
    -o-animation: fadein 8s; /* Opera */
    -webkit-transition-delay: 500ms;
    -moz-transition-delay: 500ms;
    -ms-transition-delay: 500ms;
    -o-transition-delay: 500ms;
    transition-delay: 500ms;
}
@mixin anim_desserts{
    animation: fadein 12s;
    -moz-animation: fadein 12s; /* Firefox */
    -webkit-animation: fadein 12s; /* Safari et Chrome */
    -o-animation: fadein 12s; /* Opera */
    -webkit-transition-delay: 500ms;
    -moz-transition-delay: 500ms;
    -ms-transition-delay: 500ms;
    -o-transition-delay: 500ms;
    transition-delay: 500ms;
}
@mixin icone-margin {
    margin-top: 1.5rem;
    margin-left: 7rem;
}